.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-right: 40px;
  margin-top: 100px;
}

.today-date {
  background-color: white;
  font-weight: 500;
  font-size: 36px;
  padding: 20px;
  border-radius: 10px;
}

.clock {
  font-weight: 500;
  font-size: 48px;
  background-color: white;
  padding: 20px 20px 30px 20px;
  border-radius: 10px;
}

.clock span {
  position: relative;
}

.clock span::after {
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
#hours::after {
  content: 'HOURS';
  color: black !important;
}
#mins::after {
  content: 'MINS';
  color: black !important;
}
#sec::after {
  content: 'SEC';
  color: black !important;
}

.weather-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding-top: 15px;
  width: 100%;
}

.weather {
  font-weight: 500;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 14px;
}

.city-selector-label {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
}

.city-input {
  padding: 10px 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.city-input::placeholder {
  font-weight: 500;
  font-size: 18px;
}

.city-list {
  background-color: #ffffff;
  position: absolute;
  list-style-type: none;
  font-size: 16px;
  width: 261px;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  display: none; 
  z-index: 1000;
  margin-top: 8px;
  border-top-left-radius: 10px;
  transition: background-color 0.15s;
}

.city-list li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid rgb(154, 154, 154);
}

.city-list li:hover {
  background-color: #f0f0f0;
}

.get-weather-button {
  font-weight: 600;
  font-size: 22px;
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 14px;
  transition: background-color 0.15,
    border-color 0.15s,
    color 0.15s;
}

.get-weather-button:hover {
  opacity: 0.75;
}

.get-weather-button:active {
  background-color: black !important;
  border-color: black !important;
}

.weather-output {
  height: fit-content;
  font-weight: 600;
  font-size: 24px;
  color: black;
  display: none;
  background-color: white;
  padding: 10px 10px 0 10px;
  row-gap: 10px;
  border-radius: 10px;
}

.weather-output div {
  display: flex;
  align-items: center;
}

.weather-output img {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 0 10px;
}

.weather-description {
  margin-bottom: 14px;
}