/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  * {
    font-size: 16px !important;
  }

  .hero {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 30px 20px 30px 20px !important;
  }

  .left,
  .right {
    padding: 0 !important;
    width: 100% !important;
  }

  .left {
    border: none !important;
    row-gap: 10px;
  }

  .today-date {
    font-size: 18px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .clock {
    padding: 15px 15px 20px 15px;
  }

  .clock span {
    font-size: 28px !important;
  }

  .clock span::after {
    font-size: 10px;
  }

  .weather {
    padding-bottom: 10px;
  }

  .city-selector-label {
    font-size: 18px !important;
    border-radius: 8px !important;
  }

  .city-input {
    padding: 3px 14px;
    margin-top: 4px;
  }

  .city-input::placeholder {
    font-size: 16px;
  }

  .get-weather-button {
    font-size: 15px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
  }

  .month-and-year {
    font-size: 18px !important;
  }

  .prev-next-container button {
    font-size: 22px !important;
  }

  .jump-to-container * {
    font-size: 15px !important;
  }

  .reminder-label {
    border-radius: 8px !important;
    font-size: 18px !important;
  }

  .event-inputs-container {
    display: flex;
    flex-direction: column;
  }

  .event-inputs-container * {
    font-size: 14px !important;
  }

  .event-inputs-container input::placeholder {
    font-size: 14px;
  }

  .event-date-and-title-input-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }

  .event-added-text {
    font-size: 14px !important;
  }

  .has-reminder::after {
    top: 6px;
    right: 3px;
  }

  .reminders * {
    font-size: 14px !important;
  }

  .reminder {
    flex-direction: column;
    row-gap: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600.02px) and (max-width: 768px) {
  * {
    font-size: 16px !important;
  }

  .hero {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 30px 20px 30px 20px !important;
  }

  .left,
  .right {
    padding: 0 !important;
    width: 100% !important;
  }

  .left {
    border: none !important;
    row-gap: 10px;
  }

  .today-date {
    font-size: 30px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .clock {
    padding: 15px 15px 20px 15px;
  }

  .clock span {
    font-size: 40px !important;
  }

  .clock span::after {
    font-size: 14px;
  }

  .weather-section {
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
  } 

  .weather {
    padding-bottom: 10px;
  }

  .city-selector-label {
    font-size: 22px !important;
    border-radius: 8px !important;
  }

  .city-input {
    padding: 4px 14px;
    margin-top: 4px;
    font-size: 18px !important;
  }

  .city-input::placeholder {
    font-size: 18px !important;
  }

  .city-list {
    width: 257px;
  }

  ul,
  ul * {
    font-size: 18px !important;
  }

  .get-weather-button {
    font-size: 16px !important;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 10px;
  }

  .weather-output,
  .weather-output span,
  .weather-output div,
  .weather-output div span {
    font-size: 18px !important;
  }

  .month-and-year {
    font-size: 28px !important;
  }

  .prev-next-container button {
    font-size: 32px !important;
  }

  th {
    font-size: 20px !important;
  }

  td {
    font-size: 18px !important;
  }

  .jump-to-container * {
    font-size: 18px !important;
  }

  .reminder-section h2,
  .reminder-section h3 {
    font-size: 18px !important;
  }

  .reminder-label {
    border-radius: 8px !important;
    font-size: 22px !important;
  }

  .event-inputs-container {
    display: flex;
    flex-direction: column;
  }

  .event-inputs-container * {
    font-size: 16px !important;
  }

  .event-inputs-container input::placeholder {
    font-size: 16px;
  }

  .event-date-and-title-input-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }

  .event-added-text {
    font-size: 16px !important;
  }

  .has-reminder::after {
    top: 5px;
    right: 5px;
  }

  .reminders * {
    font-size: 16px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768.02px) and (max-width: 992px) {
  * {
    font-size: 16px !important;
  }

  .hero {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 30px 20px 30px 20px !important;
  }

  .left,
  .right {
    padding: 0 !important;
    width: 100% !important;
  }

  .left {
    border: none !important;
    row-gap: 10px;
  }

  .today-date {
    font-size: 40px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .clock {
    padding: 15px 15px 20px 15px;
  }

  .clock span {
    font-size: 55px !important;
  }

  .clock span::after {
    font-size: 18px;
  }

  .weather-section {
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
  } 

  .weather {
    padding-bottom: 10px;
  }

  .city-selector-label {
    font-size: 30px !important;
    border-radius: 8px !important;
  }

  .city-input {
    padding: 6px 14px;
    margin-top: 4px;
    font-size: 22px !important;
  }

  .city-input::placeholder {
    font-size: 22px !important;
  }

  .city-list {
    width: 312px;
  }

  ul,
  ul * {
    font-size: 22px !important;
  }

  .get-weather-button {
    font-size: 20px !important;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
  }

  .weather-output,
  .weather-output span,
  .weather-output div,
  .weather-output div span {
    font-size: 24px !important;
  }

  .month-and-year {
    font-size: 36px !important;
  }

  .prev-next-container button {
    font-size: 40px !important;
  }

  th {
    font-size: 24px !important;
  }

  td {
    font-size: 22px !important;
  }

  .jump-to-container * {
    font-size: 20px !important;
  }

  .reminder-section h2,
  .reminder-section h3 {
    font-size: 24px !important;
  }

  .reminder-label {
    border-radius: 8px !important;
    font-size: 30px !important;
  }

  .event-inputs-container {
    display: flex;
    flex-direction: column;
  }

  .event-inputs-container * {
    font-size: 20px !important;
  }

  .event-inputs-container input::placeholder {
    font-size: 20px;
  }

  .event-date-and-title-input-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }

  .event-added-text {
    font-size: 20px !important;
  }

  .has-reminder::after {
    top: 5px;
    right: 5px;
  }

  .reminders {
    font-size: 18px !important;
  }

  .reminders * {
    font-size: 18px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992.02px) and (max-width: 1200px) {
  * {
    font-size: 16px !important;
  }

  .hero {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 30px 20px 30px 20px !important;
  }

  .left,
  .right {
    padding: 0 !important;
    width: 100% !important;
  }

  .left {
    border: none !important;
    row-gap: 10px;
  }

  .today-date {
    font-size: 54px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .clock {
    padding: 15px 15px 20px 15px;
  }

  .clock span {
    font-size: 70px !important;
  }

  .clock span::after {
    font-size: 24px;
    bottom: -12px;
  }

  .weather-section {
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
  } 

  .weather {
    padding-bottom: 10px;
  }

  .city-selector-label {
    font-size: 40px !important;
    border-radius: 8px !important;
  }

  .city-input {
    padding: 8px 14px;
    margin-top: 4px;
    font-size: 28px !important;
  }

  .city-input::placeholder {
    font-size: 28px !important;
  }

  .city-list {
    width: 383px;
  }

  ul,
  ul * {
    font-size: 28px !important;
  }

  .get-weather-button {
    font-size: 26px !important;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
  }

  .weather-output,
  .weather-output span,
  .weather-output div,
  .weather-output div span {
    font-size: 32px !important;
  }

  .month-and-year {
    font-size: 48px !important;
  }

  .prev-next-container button {
    font-size: 56px !important;
  }

  th {
    font-size: 30px !important;
  }

  td {
    font-size: 28px !important;
  }

  .jump-to-container * {
    font-size: 26px !important;
  }

  .reminder-section h2,
  .reminder-section h3 {
    font-size: 26px !important;
  }

  .reminder-label {
    border-radius: 8px !important;
    font-size: 40px !important;
  }

  .event-inputs-container {
    display: flex;
    flex-direction: column;
  }

  .event-inputs-container * {
    font-size: 24px !important;
  }

  .event-inputs-container input::placeholder {
    font-size: 24px;
  }

  .event-date-and-title-input-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }

  .event-added-text {
    font-size: 24px !important;
  }

  .has-reminder::after {
    top: 7px;
    right: 7px;
  }

  .reminders {
    font-size: 20px !important;
  }

  .reminders * {
    font-size: 20px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200.02px) and (max-width: 1440px) {
  * {
    font-size: 16px !important;
  }

  .hero {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 30px 20px 30px 20px !important;
  }

  .left,
  .right {
    padding: 0 !important;
    width: 100% !important;
  }

  .left {
    border: none !important;
    row-gap: 10px;
  }

  .today-date {
    font-size: 60px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .clock {
    padding: 15px 15px 20px 15px;
  }

  .clock span {
    font-size: 72px !important;
  }

  .clock span::after {
    font-size: 24px;
    bottom: -14px;
  }

  .weather-section {
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
  } 

  .weather {
    padding-bottom: 10px;
  }

  .city-selector-label {
    font-size: 44px !important;
    border-radius: 8px !important;
  }

  .city-input {
    padding: 8px 14px;
    margin-top: 4px;
    font-size: 32px !important;
  }

  .city-input::placeholder {
    font-size: 32px !important;
  }

  .city-list {
    width: 433px;
  }

  ul,
  ul * {
    font-size: 32px !important;
  }

  .get-weather-button {
    font-size: 30px !important;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
  }

  .weather-output,
  .weather-output span,
  .weather-output div,
  .weather-output div span {
    font-size: 36px !important;
  }

  .month-and-year {
    font-size: 50px !important;
  }

  .prev-next-container button {
    font-size: 58px !important;
  }

  th {
    font-size: 34px !important;
  }

  td {
    font-size: 32px !important;
  }

  .jump-to-container * {
    font-size: 30px !important;
  }

  .reminder-section h2,
  .reminder-section h3 {
    font-size: 30px !important;
  }

  .reminder-label {
    border-radius: 8px !important;
    font-size: 42px !important;
  }

  .event-inputs-container {
    display: flex;
    flex-direction: column;
  }

  .event-inputs-container * {
    font-size: 28px !important;
  }

  .event-inputs-container input::placeholder {
    font-size: 28px;
  }

  .event-date-and-title-input-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
  }

  .event-added-text {
    font-size: 28px !important;
  }

  .has-reminder::after {
    top: 9px;
    right: 9px;
  }

  .reminders {
    font-size: 22px !important;
  }

  .reminders * {
    font-size: 22px !important;
  }
}